{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f4f4;
transition:.3s;
}

.dark{
background:#121212;
color:white;
}

nav{

display:flex;

justify-content:space-between;

align-items:center;

background:#ff5722;

padding:15px;

color:white;

}

nav a{

color:white;

text-decoration:none;

font-weight:bold;

margin-left:15px;

}

nav input{

padding:8px;

}

.food-container{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:20px;

padding:20px;

}

.card{

background:white;

padding:15px;

border-radius:15px;

text-align:center;

box-shadow:0 0 10px rgba(0,0,0,.2);

}

.dark .card{

background:#1e1e1e;

}

.card img{

width:100%;

height:200px;

object-fit:cover;

border-radius:10px;

}

.qty{

display:flex;

justify-content:center;

margin:10px;

}

.qty input{

width:40px;

text-align:center;

}

.qty button{

padding:5px 10px;

}

.card button{

padding:10px;

margin-top:10px;

background:#28a745;

color:white;

border:none;

cursor:pointer;

}

.cart{

background:white;

padding:20px;

margin:20px;

border-radius:15px;

}

.dark .cart{

background:#1e1e1e;

}

@media(max-width:768px){

nav{

flex-direction:column;

gap:10px;

}

}